# Scraping Data

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
#print(soup)

In [4]:
# After inspecting element on the wikipedia page, i found this class which contains the table we
# are working with
table = soup.find('table', class_="wikitable sortable")
#print(table)

In [5]:
# we have found, by looking above what each title starts with, which is a 'th'
titles = table.find_all('th')

In [6]:
# list comprehension, which will pull out the titles, .strip() removed all \n from the text and cleaned it a bit
table_titles = [title.text.strip() for title in titles]

In [7]:
print(table_titles)

['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Assets(USD millions)', 'Employees', 'Headquarters']

In [8]:
# Here we create our dataframe with the titles we have just pulled out from wikipedia
df = pd.DataFrame(columns = table_titles)
df

Empty DataFrame
Columns: [Rank, Fortune 500rank, Name, Industry, Revenue(USD millions), Profits(USD millions), Assets(USD millions), Employees, Headquarters]
Index: []

In [9]:
column_data = table.find_all('tr')

In [10]:
# Had to start at position 1, as position 0 was empty and causing an error
# loops through and finds all data tabled 'td' in the html code
# it then uses strip() to clean the data and converts to text
# we then check the length of the df and then appends the data to the df

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [11]:
df.to_csv(r'C:\Users\Dean\uk_companies.csv', index= False)